
.navbar{
    font-size: 30px;
    color: #fff;
    background-color: #74707a;
    text-align: center;
    width: 100%;
  
}
.block{
    margin-top: 5px;
    padding: 10px;
    font-size:35px;
    font-weight: 700;

}

